baseURL: "https://rv178.is-a.dev"
title: rv178
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production
  title: rv178
  description: "Keep it simple, stupid."
  keywords: [Blog, Portfolio, Linux, rv178, Idlidev]
  #author: rv178
  #images: ["https://avatars.githubusercontent.com/u/69449141?s=300"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    #disableHLJS: true # to disable highlight.js
    #disableFingerprinting: true
    favicon: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"
    favicon16x16: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"
    favicon32x32: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"
    apple_touch_icon: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"
    safari_pinned_tab: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"

  label:
    text: " "
    #icon: "https://media.discordapp.net/attachments/765524394017292309/858181434085867570/1624676782371.png"
    #iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    #title: Keep it simple, stupid. 
    subtitle: "Keep it simple, stupid."
    imageUrl: "https://media.discordapp.net/attachments/898590979655884810/983039923835793468/20220605_213925.gif" 
    imageWidth: 120
    imageHeight: 120
    imageTitle: my image
    buttons:
      - name: About Me
        url: about


  # home-info mode
  #homeInfoParams:
    #Title: "Keep it simple, stupid."
    #Content: Hi there! I'm rv178.

  socialIcons:
    - name: github
      url: "https://github.com/rv178"
    - name: reddit
      url: "https://reddit.com/u/Idli_codes"
    - name: youtube
      url: "https://youtube.com/Idlidev"


  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  #editPost:
    #URL: "https://github.com/rv178/blog-site/tree/main/content"
    #Text: "Suggest Changes" # edit text
    #appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: home
      name: Home
      url: /
      weight: 10
    - identifier: posts
      name: Posts
      url: /posts/
      weight: 20
    - identifier: search
      name: Search
      url: /search/
      weight: 30
    - identifier: tags
      name: Tags
      url: /tags/
      weight: 40

outputs:
    home:
        - HTML
        - RSS
        - JSON # is necessary

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
